
tr{
    padding-left: 10%;
    padding-right:10%;
}
th{
    text-align:center;
}
.card{
    box-shadow:0px 2px 2px 0 white;
  
    
}
.table-bordered{
    border: solid black;
    

}
.thead{
    border: solid black;
    background-color: mediumaquamarine;
}
.column{
    border: solid black;
}
.input{
    background-color: blanchedalmond;
}
h1{
    text-align:center;  
}
i{
    font-size:25px;
}